<!DOCTYPE html>
<html class="uk-background-muted" lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ .title }}</title>
    {{ include "layouts/head" }}
    {{ template "head" . }}
    {{ define "head" }}{{ end }}
</head>
<body>
<div id="app">
    <div>
        {{ template "header" . }}
        {{ define "header" }}
            {{ include "layouts/header" }}
        {{ end }}

        <div class="uk-container">
            {{ template "content" . }}
        </div>
        <br>
    </div>

    {{ template "footer" . }}
    {{ define "footer" }}
        {{ include "layouts/footer" }}
    {{ end }}
</div>
{{ template "scripts" . }}
{{ define "scripts" }}{{ end }}
</body>
</html>